.register {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient( rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(https://th.bing.com/th/id/OIP.0CFV790LGISXE-hr8FX3EQHaDc?pid=ImgDet&rs=1);
    background-size: cover;
}

.register-title {
    font-size: 50px;
}

.register-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
}

.register-form>label {
    margin: 10px 0;
    font-size: 18px;
}

.register-form>input {
    background-color: lightgray;
    padding: 12px;
    border: none;
    width: 340px;
    border-radius: 6px;
}

.register-butt {
    margin-top: 20px;
    background-color: teal;
    color: white;
    font-size: 16px;
    padding: 10px;
    width: 180px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.register-login-butt {
    position: absolute;
    top: 62px;
    right: 20px;
    background-color: lightcoral;
    color: white;
    padding: 8px;
    width: 80px;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}